@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --mainblack: #040f16;
  --backgroundwhite: #e9e5e5;
  --mainwhite: #ffffff;
  --primaryclr-10: #ebfbff;
  --primaryclr-5: #20cefe;
  --primaryclr-1: #71e0fe;
  --mainclr: #1495cc;
  --secondaryclr5: rgb(125, 207, 242);
  --mainspacing: 0.25rem;
  --mainradius: 0.5rem;
  --maintransition: all 3s linear;
  --sectransition: all 0.5s linear;
  --mainfont: "Roboto", sans-serif;
  --secfont: "Playfair Display", serif;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--mainfont);
  background: rgba(194, 194, 194, 0.096);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--mainspacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: capitalize;
}
.contact-info p {
  letter-spacing: var(--mainspacing);
}
ul {
  list-style-type: none;
}
.service-info ul li::before {
  content: "\2022";
  color: var(--mainclr);
  font-weight: bold;

  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.service-text {
  font-weight: 500;
  font-size: 1.125rem;
}
a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    max-width: 95vw;
  }
}
/* nav bar */
.navbar {
  background: transparent;
}
header .fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--mainwhite);
  transition: all 0.5s linear;
  box-shadow: var(--light-shadow);
  z-index: 2;
}
.nav-logo {
  width: 100px;
}

.nav-icons {
  display: none;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--mainclr);
  transition: var(--sectransition);
}
.nav-toggle:focus {
  outline: none;
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainspacing);
  transition: var(--sectransition);
  font-weight: 500;
}

/* 160px navlink height */
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--sectransition);
}
/* .show-links {
  height: 160px;
} */
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--mainclr);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--mainradius);
  color: var(--mainwhite);

  /* animation: bounce 2s linear infinite alternate; */
  visibility: hidden;
  z-index: -5;

  /* transition: 0.5s; */
}

.top-link:hover {
  color: var(--mainwhite);
}

.show-link {
  visibility: visible;
  z-index: 5;
}
@media screen and (min-width: 992px) {
  /* hide toggle */
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
  }

  .nav-icons {
    display: flex;
  }
  .nav-icon {
    color: var(--secondaryclr5);
    margin-right: 1rem;
    font-size: 2rem;
    transition: var(--sectransition);
  }
  .nav-icon:hover {
    color: var(--mainclr);
  }
}
/* end of navbar */
/* hero */
.hero {
  min-height: calc(100vh);
  background: var(--mainwhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  /* color: var(--mainclr); */
  color: var(--mainwhite);
  padding: 0 3rem;
}
.hero-banner h1 {
  text-transform: uppercase;
}
.hero-banner p {
  max-width: 35rem;
  margin: 0 auto;
  letter-spacing: var(--mainspacing);
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.btn-container {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-lcontainer {
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px;
}
.btn-lcontainer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(125, 207, 242, 0.01); */
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  color: var(--mainwhite);
  z-index: 1;
  font-weight: 600;
  letter-spacing: var(--mainspacing);
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.5)),
      url("https://drive.google.com/uc?/export=view&id=1dZGkd7FA34hEBk10urbSicnbIsSm5tFS")
        center/cover no-repeat;
  }
@media screen and (min-width: 768px) {
  .btn-lcontainer:hover a {
    letter-spacing: 0.3rem;
  }
  .btn-lcontainer a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.15),
      transparent
    );
    /* background: linear-gradient(to left, rgba(20, 149, 204, 0.15), transparent); */
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
  }
  .btn-lcontainer:hover a::before {
    transform: skewX(45deg) translateX(200%);
  }
  .btn-lcontainer::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: var(--mainclr);
    border-radius: 10px;
    transition: 0.5s;
  }
  .btn-lcontainer:hover::before {
    bottom: 0;
    height: 50%;
    width: 90%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition-delay: 0.25s;
  }
  .btn-lcontainer::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: var(--mainclr);
    border-radius: 10px;
    transition: 0.5s;
  }
  .btn-lcontainer:hover::after {
    top: 0;
    height: 50%;
    width: 90%;
    /* border-radius: 30px; */

    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    transition-delay: 0.25s;
  }
  .btn-lcontainer:nth-child(1)::before,
  .btn-lcontainer:nth-child(1)::after {
    /* background: #1495cc;
  box-shadow: 0 0 5px #1495cc, 0 0 15px #1495cc, 0 0 30px #1495cc,
    0 0 60px #1495cc; */
    background: #ffffff;
    box-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff,
      0 0 60px #ffffff;
    /* background: #ffffff;
  box-shadow: 0 0 60px #ffffff; */
  }
  .btn-lcontainer a {
    text-shadow: 0.25px 0.25px #000000;
    color: var(--mainwhite);
    transition: 0.5s;
  }
  .btn-lcontainer a:hover {
    color: var(--mainblack);

    /* color: var(--mainclr); */
    /* transition-delay: 0.25s; */
  }
/*   .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.5)),
      url("https://drive.google.com/uc?/export=view&id=1dZGkd7FA34hEBk10urbSicnbIsSm5tFS")
        center/cover no-repeat;
  } */
  .hero-banner {
    color: var(--mainwhite);
    padding: 0;
  }

  .hero-banner p {
    max-width: 45rem;
  }
}
@media screen and (max-width: 767px) {
  /* .about-img {
    display: none;
  } */
  .service-img {
    display: none;
  }
/*   .hero {
    width: auto;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.5)),
      url("https://drive.google.com/uc?/export=view&id=1dZGkd7FA34hEBk10urbSicnbIsSm5tFS")
        center/cover no-repeat;
  } */
}
/* end of hero */
/*  */
/*  */
/* about us  */
.about-info span {
  color: var(--mainclr);
}
.section-title {
  text-align: center;
  margin-bottom: 2rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--mainclr);
}

.team-container {
  max-width: 422px;
}

.about-info {
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .team-container,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
}
@media screen and (max-width: 991px) {
   .about-info {
    max-width: 550px;
  }
  .about-info h3 {
    text-align: center;
  }
  .section {
    padding: 1.5rem 0;
  }
  .container .card .content .imgbox {
    /* position: relative; */
    width: auto;
    height: auto;
    border-radius: 5%;
    overflow: hidden;
    border: 1px solid#71e0fe;
  }
  .profile-img {
    width: auto;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    position: absolute;
    /* top: 450px; */
  }

  img .profile-img {
    width: auto;
  }

  .nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainspacing);
    transition: var(--sectransition);
  }
  .nav-link:hover {
    color: var(--mainwhite);
    background: var(--mainclr);
    padding-left: 2.25rem;
  }
  .about-center {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .team-container,
  .about-info {
    margin-bottom: 2rem;
    align-self: center;
  }
}
/* end of about us  */
.service-info span {
  color: var(--mainclr);
}
.service-text {
  text-transform: capitalize;
}
.service-img {
  max-width: 422px;
}
.service-img,
.service-info {
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .service-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .service-img,
  .service-info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
}
@media screen and (max-width: 991px) {
  .service-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .service-img,
  .service-info {
    margin: 0 2rem 2rem 0;
    align-self: center;
    padding-left: 2rem;
  }
}

/* end service */
/* contact us */
.contact-info p {
  font-size: 1.125rem;
  text-transform: uppercase;
}
.contact-icon {
  color: var(--mainclr);
}

@media screen and (max-width: 991px) {
  .contact-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .contact-map,
  .contact-info {
    margin: 0 2rem 2rem 0;
    align-self: center;
  }
  .contact-map iframe {
    width: 460px;
    max-width: 500px;
    height: 400px;
    padding-left: 2rem;
  }
  
}
@media screen and (min-width: 992px) {
  .contact-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .preloader-size{
  width:250px;
    height:auto;
 }
  .contact-map,
  .contact-info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
  .contact-map iframe {
    width: 422px;
    max-width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-left: 3rem;
  }
  .map {
    width: auto;
    height: 390px;
  }
}

/* end of contact us */
/* footer */
.footer {
  background: var(--mainblack);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.footer-link {
  color: var(--mainwhite);
  text-transform: capitalize;
  list-style: none;
  font-size: 1rem;
  margin-right: 2rem;

  letter-spacing: var(--mainspacing);
  transition: var(--sectransition);
}
a {
  text-decoration: none;
}
.footer-link:hover {
  color: var(--mainclr);
  text-decoration: none;
}
.footer-icon {
  font-size: 2rem;
  color: var(--secondaryclr5);
  transition: var(--sectransition);
  overflow: hidden;
}
.footer-icon:hover {
  color: var(--mainclr);

  transform: translateY(-0.5rem);
}
.copyright {
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: capitalize;
  color: var(--mainwhite);
  letter-spacing: var(--mainspacing);
}
/* footer */

@media screen and (max-width: 488px) {
  .btn-lcontainer {
    /* position: relative; */
    top: -15px;
    width: 155px;
    height: 50px;
    margin: 30px;
  }
  .popup {
    max-width: auto;
  }
  .container {
    max-width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .container .card {
    margin: 40px auto;
  }
  .team-container {
    width: 330px;
  }
  .contact-map iframe {
    display: flex;
    width: auto;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }
  .contact-info p {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .footer-links {
    display: inline-block;
  }
  .footer-link {
    margin: 0 auto;
    padding: 0 auto;
  }
  footer li {
    margin-bottom: 1rem;
  }
}

/* preload */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--mainwhite);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 1111;
  
  transition: var(--sectransition);
}
.hide-preloader {
  z-index: -11111;
  visibility: hidden;
}
/* our team  */

.team-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 422px;
  height: auto;
  flex-wrap: wrap;
}
.team-card {
  position: relative;
  width: 422px;
  height: 397px;
  padding: 20px;
  /* margin: 30px; */
  box-shadow: 5px 5px 15px var(--mainclr);
  border-radius: 15px;
  background-color: rgba(32, 206, 254, 0.05);
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  border-top: 1px solid rgb(125, 207, 242, 0.5);
  border-left: 1px solid rgb(125, 207, 242, 0.5);
  /* backdrop-filter: blur(5px); */
}
.team-content {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 50px; */
}
.open-team {
  position: absolute;
  top: 285px;

  padding: 2.5px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 2.5px 2.5px 7.5px var(--mainclr);
  border-radius: 25px;
  border-top: 1px solid rgb(125, 207, 242, 0.5);
  border-left: 1px solid rgb(125, 207, 242, 0.5);
  border-bottom: 0.25px solid rgb(125, 207, 242, 0.5);
  border-right: 0.25px solid rgb(125, 207, 242, 0.5);
  background-color: transparent;
  /* backdrop-filter: blur(10px); */
  transition: var(--sectransition);
}
.open-team:focus {
  outline: none;
}
.open-team:hover {
  transform: scale(1.05);
}
.open-team span {
  color: var(--mainclr);
}
.move-img {
  width: auto;
  height: auto;
}
.team-content img {
  width: 211px;
  margin: 25px;
}

.container {
  /* position: relative; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 0;
}

/* flex-direction: row; */
.container .card {
  /* position: relative; */
  width: 300px;
  height: 450px;
  background-color: var(--mainclr);
  margin: 40px 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(10px); */
}
img .profile-img {
  width: 250px;
}

.container .card .content .imgbox {
  /* position: relative; */
  width: 225px;
  height: 225px;
  border-radius: 5%;
  overflow: hidden;
  border: 1px solid#71e0fe;
}
.profile-img1 {
}
.profile-img {
  /* position: absolute; */
  top: 0;
  left: 0;
  /* width: 25%; */
  height: 100%;
  object-fit: cover;
  /* vertical-align: middle; */
}
.contentbox h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.3rem;
}
.contentbox h3 span {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  /* text-transform: initial; */
}
.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}
.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
}

.container .card .sci li a {
  color: #fff;
  font-size: 24px;
}



.popup {
  display: none;
  /* background: 0, 0, 0, rgb(245, 17, 17); */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  z-index: 10000;
  /* overflow: hidden; */
  backdrop-filter: blur(15px);
  background: hsla(198, 82%, 44%, 0.5);
  overflow: hidden;
  overflow-y: auto;
  /* border: 5px solid var(--mainwhite); */
}

.popup-content {
  /* border: 5px solid var(--mainblack); */
  display: grid;
  grid-template-columns: (3, 1fr);
  height: auto;
  width: 100vw;
  position: absolute;
  /* margin-top: 500px; */
  overflow: auto;
  overflow-y: scroll;
}

body section .close-popup {
  position: fixed;
  cursor: pointer;
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
  top: 50px;
  left: 90%;
  color: var(--mainwhite);
  margin-right: 1rem;
  font-size: 2rem;
  background: transparent;
  border: none;
  outline: none;
  transition: var(--sectransition);
  z-index: 1000;
}
.close-popup:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--mainclr));
  border-radius: 10px;
}
.contact-info h5 {
  text-transform: uppercase;
}


